body{
  background-color: #F0F0F0;
  font-family: 'Roboto', cursive;
  text-align: center;
}

.title{
  font-family: 'Pristina', cursive;
  text-align: center;
  margin: 10px auto;
  margin-bottom: -20px;
  font-size: 70px;

}

.principalPainel{
  width: 500px;
  height: 535px;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  background-color: #f0f0f0;
  border-color: #d9d9d9;
}

.segundoPainel{
  width: 500px;
  height: 120px;
  margin: 0 auto;
  margin-top:65px;
  margin-bottom: 50px;
  background-color: #f0f0f0;
  border-color: #d9d9d9;
  border-style: solid;
  border-width: 1px;
}

input[type=text]{
    width: 370px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #f0f0f0;
    border-color: #666666;
    border-style: solid;
    border-width: 2px;
    font-family: 'Roboto', cursive;
    padding: 10px;
  }

input[type=password]{
      width: 370px;
      margin: 0 auto;
      margin-top: 10px;
      background-color: #f0f0f0;
      border-color: #666666;
      border-style: solid;
      border-width: 2px;
      font-family: 'Roboto', cursive;
      padding: 10px;
}

input[type=submit]{
      width: 370px;
      min-height: 40px;
      margin: 0 auto;
      margin-top:20px;
      background-color: #2A4B7C;
      color:#ffffff;
      border-color: #d9d9d9;
      border-style: solid;
      font-family: 'Roboto', cursive;
      border-width: 1px;
      font-size: 140%;
      text-align: center;
}

a:link, a:visited {
  background-color: #2A4B7C;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', cursive;
  text-align: center;
  display: inline-block;
  font-size:95%;
}

input[type=checkbox]{
  font-family: 'Roboto', cursive;
  margin-top: 70px;
  width:20px;
  height: 15px;
}
